
<h2>Product Form</h2>

<div class="container">
<h2>Add Product</h2>

<form id="chh" (ngSubmit)="onSubmit()" >
    <div class="row">
        <div class="col-25">
          <label for="country">Company</label>
        </div>
        <div class="col-75">
          <select id="country" [(ngModel)]="newList.product"  name="cat">
            <option value="Kinley 20L Jar">Kinley 20L Jar</option>
            <option value="Bisleri 250ML Carton">Bisleri 250ML Carton</option>
            <option value="GangaSagar">Ganga Sagar</option>
            <option value="minaralwater">Minaralwater</option>
             <option value="corporation">corporation</option>
          </select>
        </div>
      </div>
    <div class="row">
        <div class="col-25">
          <label for="lname">Product Qunatity</label>
        </div>
        <div class="col-75">
          <input type="number"  class="form-control" [(ngModel)]="newList.inStock" name="Qunatity"  placeholder="Enter Qunatity" required>
        </div>
      </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Product ID</label>
      </div>
      <div class="col-75">
        <input type="text" id="pname" name="pname" placeholder="Your Product ID..">
      </div>
    </div>
 
   
    <!-- <div class="row">
      <div class="col-25">
        <label for="subject">Subject</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div> -->
    <div class="row">
      <input type="submit" onSubmit="window.location.reload();" value="Add Product">
    </div>
  </form>
</div>
