<h2>Product Form</h2>

<div class="container">
  <h2>Inventory</h2>
  <p>Total product in store:</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Product</th>
        <th>Quantity Requested</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>

        <td></td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td></td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td></td>
      </tr>
    </tbody>
  </table>